.chartjs .labels-container {
    display: flex;
}

.chartjs .label {
    list-style: none;
    color: #9c9fa6;
    font-size: 12px;
    display: inline-block;
    margin-right: 1rem;
}

.chartjs .label span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 3px;
}
