@font-face {
    font-family: 'IRAN_SemiBold';
    src: url("farsi/IRAN_SemiBold.eot");
    /* IE9 Compat Modes */
    src: url("farsi/IRAN_SemiBold.woff2") format("woff2"), url("farsi/IRAN_SemiBold.woff") format("woff"), url("farsi/IRAN_SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Shabnam';
    src: url("farsi/shabnam/Shabnam.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam.woff2") format("woff2"), url("farsi/shabnam/Shabnam.woff") format("woff"), url("farsi/shabnam/Shabnam.ttf") format("truetype");
    font-weight: normal;
}


/* Farsi Fonts Replace*/
@font-face {
    font-family: 'ubuntu-light';
    src: url("farsi/shabnam/Shabnam-Light.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam-Light.woff2") format("woff2"), url("farsi/shabnam/Shabnam-Light.woff") format("woff"), url("farsi/shabnam/Shabnam-Light.ttf") format("truetype");
}

  @font-face {
    font-family: 'ubuntu-regular';
    src: url("farsi/shabnam/Shabnam.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam.woff2") format("woff2"), url("farsi/shabnam/Shabnam.woff") format("woff"), url("farsi/shabnam/Shabnam.ttf") format("truetype");
}

  @font-face {
    font-family: 'ubuntu-medium';
    src: url("farsi/shabnam/Shabnam-Medium.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam-Medium.woff2") format("woff2"), url("farsi/shabnam/Shabnam-Medium.woff") format("woff"), url("farsi/shabnam/Shabnam-Medium.ttf") format("truetype");
}

  @font-face {
    font-family: 'ubuntu-bold';
    src: url("farsi/shabnam/Shabnam-Bold.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam-Bold.woff2") format("woff2"), url("farsi/shabnam/Shabnam-Bold.woff") format("woff"), url("farsi/shabnam/Shabnam-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Manrope-regular';
    src: url("farsi/shabnam/Shabnam.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam.woff2") format("woff2"), url("farsi/shabnam/Shabnam.woff") format("woff"), url("farsi/shabnam/Shabnam.ttf") format("truetype");
}

@font-face {
    font-family: 'Manrope-medium';
    src: url("farsi/shabnam/Shabnam-Medium.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam-Medium.woff2") format("woff2"), url("farsi/shabnam/Shabnam-Medium.woff") format("woff"), url("farsi/shabnam/Shabnam-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Manrope-bold';
    src: url("farsi/shabnam/Shabnam-Bold.eot");
    /* IE9 Compat Modes */
    src: url("farsi/shabnam/Shabnam-Bold.woff2") format("woff2"), url("farsi/shabnam/Shabnam-Bold.woff") format("woff"), url("farsi/shabnam/Shabnam-Bold.ttf") format("truetype");
}

