@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap);

:root{
    --bs-primary: #3A61F6;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.row:after {
    content: "";
    clear: both;
    display: block
}

button:active button:hover .btn:active,
button:focus {
    outline: 0 !important;
    box-shadow: none !important
}

body {
    padding: 0 25px 0 25px;
    background-color: #242424;
    font-family: 'Noto Sans Arabic', Montserrat, sans-serif;
    color: #cecdcd;
    direction: rtl;
    offset: "0"
}

img {
    border-radius: .5px
}

.bg-image img {
    margin-bottom: 10px;
    width: 145px;
    margin-top: 200px
}

body:not(.btn) a:any-link {
    text-decoration: underline;
    color: #acabab;
    font-weight: 700
}

.btn {
    text-decoration: none !important;
    color: #f0f0f0 !important;
    font-weight: lighter !important;
    word-spacing: 1px;
    padding: 9px 7px 9px 5px;
    margin-top: 20px;
    width: 150px;
    font-size: .8rem
}

.icons {
    margin-top: 0;
    width: 35px
}

.content-descr{
    font-size: 1.8rem;
}

@media (max-width:360px) {
    .bg-image img {
        margin-top: 150px !important;
        margin-bottom: 0 !important;
        width: 95px !important
    }

    .btn {
        padding: 2px 3px 2px 3px !important;
        margin-top: 10px !important;
        width: 65px !important;
        font-size: .6rem !important
    }

}

@media (max-width:375px) {
    .bg-image img {
        margin-top: 150px !important;
        margin-bottom: 0 !important;
        width: 95px !important
    }

    .btn {
        padding: 2px 3px 2px 3px !important;
        margin-top: 10px !important;
        width: 65px !important;
        font-size: .6rem !important
    }
}

@media (max-width:540px) {
    .bg-image img {
        margin-top: 100px !important;
        margin-bottom: 0 !important;
        width: 85px !important
    }

    .btn {
        padding: 9px 7px 9px 5px !important;
        margin-top: 20px !important;
        width: 105px !important;
        font-size: .8rem !important
    }
}

@media (max-width:576px) {

    .btn {
        padding: 5px 0 5px 0 !important;
        margin-top: 5px !important;
        width: 95px !important
    }
}

@media (max-width:768px) {

    .bg-image img {
        margin: 200px 0 35px auto !important
    }

    .btn {
        padding: 5px 0 5px 0 !important;
        margin-top: 5px !important;
        width: 100px !important
    }
}

@media (max-width:922px) {
    .bg-image img {
        margin-bottom: 10px !important;
        width: 145px !important;
        margin-top: 100px !important
    }
}

@media (max-width:1024px) {
    .bg-image img {
        margin-top: 150px !important;
        margin-bottom: 0 !important;
        width: 145px !important
    }

    .btn {
        padding: 9px 7px 9px 5px !important;
        margin-top: 25px !important;
        width: 145px !important;
        font-size: .8rem !important;
        margin-top: 10px !important
    }
}
